.sign_in {
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba($color: #000000, $alpha: .5);
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 38rem;
        background-color: var(--white);
        padding: 3rem 4rem;
        border-radius: 1.5rem;
        font-size: 1.4rem;
        line-height: 1.6rem;
        font-weight: 400;

        .title {
            margin-bottom: 2rem;
            font-size: 2.6rem;
            line-height: 2.8rem;
        }

        .text {
            font-size: 1.2rem;
            line-height: 1.4rem;
            text-align: center;
        }

        .close {
            cursor: pointer;
            position: absolute;
            top: 3rem;
            right: 4rem;

            &:hover {
                top: 3.2rem;
                right: 4.2rem;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }

            &:active {
                top: 3.3rem;
                right: 4.3rem;
                animation: turnArround .2s linear;

                svg {
                    width: 18px;
                    height: 18px;
                }
            }

            @keyframes turnArround {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }
}