.popular {
    .container {
        margin: 0 auto;
        max-width: 100rem;
        padding: 6rem 3rem;

        .content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 100%;

            .header {
                margin-bottom: 4rem;
                align-self: center;
            }

            .main {
                display: flex;
                width: 100%;

                .preview_card {
                    display: flex;
                    flex-direction: column;
                    margin-right: 6rem;
                    width: 20.4rem;

                    .preview__title {
                        font-size: 2.2rem;
                        font-weight: 600;

                        span {
                            color: var(--green);
                        }
                    }

                    .preview__link {
                        position: relative;
                        font-size: 1.2rem;
                        line-height: 1.4rem;
                        margin-bottom: auto;
                        display: flex;
                        align-items: center;

                        span:hover {
                            color: var(--green);
                        }
                        span:active {
                            color: darken($color: #38BC55, $amount: 10%);
                        }

                        svg {
                            position: relative;
                            top: -0.1rem;
                            left: .1rem;
                            transform: rotateZ(-90deg);
                        }
                    }

                    .preview__carousel {
                        border-bottom: 2px solid var(--green);
                    }
                }

                .models_list {
                    overflow: hidden;
                    display: flex;
                    min-width: 63rem;

                    &.swipe_right {
                        & > div {
                            animation: swipeRight .4s linear;
                        }
                    }

                    &.swipe_left {
                        & > div {
                            animation: swipeLeft .4s linear;
                        }
                    }
                    
                }

                @keyframes swipeRight {
                    0% {
                        transform: translateX(-20rem);
                    }
                    100% {
                        transform: translateX(0rem);
                    }
                }

                @keyframes swipeLeft {
                    0% {
                        transform: translateX(20rem);
                    }
                    100% {
                        transform: translateX(0rem);
                    }
                }
            }
        }
    }
}