.title {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.input {
    outline: none;
    background-color: var(--white);
    padding: 0 1rem;
    border-radius: .5rem;
    border: none;
    padding: 1rem 1rem 1rem 3rem;
    width: 100%;
    height: 3.8rem;

    &::placeholder{
        font-size: 1.3rem;
        line-height: 1.4rem;
        font-family: 'Catamaran', sans-serif;
    }

    &__location {
        min-width: 16rem;
    }
}

.inputs {
    display: flex;

    &__date {
        flex: 1 1 60%;
        border-radius: .5rem 0 0 .5rem;
    } 
    &__time {
        flex: 1 1 40%;
        border-radius: 0 .5rem .5rem 0;
    } 
}