.content {
    max-width: 120rem;
    margin: 0 auto;
}

.footer {

    &__top {
        .content {
            padding: 6rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            .footer__title {
                text-align: center;
                font-size: 3.2rem;
                line-height: 3.4rem;
                margin-bottom: 2rem;

                span {
                    color: var(--green);
                    font-size: 2.6rem;
                    font-weight: 600;
                }
            }

            .footer__text {
                text-align: center;
                font-size: 1.5rem;
                line-height: 2rem;
                max-width: 35rem;
            }
        }
    }

    &__bottom {
        background-color: var(--black);

        .content {
            padding: 3rem 8rem;
            display: flex;
            align-items: center;
            
            .copyright {
                color: var(--gray);
                font-size: 1.2rem;
                line-height: 1.4rem;

                &:nth-child(1) {
                    margin-right: 1rem;
                    padding-right: 1rem;
                    border-right: 1px solid var(--gray);
                }
            }

            .links__list {
                display: flex;
                margin-left: auto;

                .links {
                    color: var(--white);
                    font-size: 1.4rem;

                    &:not(:last-child) {
                        margin-right: 2.5rem;
                    }

                    &:hover {
                        color: var(--dark_gray);
                    }

                    &:active {
                        color: var(--green);
                    }
                }
            }
        }
    }
}