.model__card {
    cursor: pointer;
    padding: 1rem 2rem;
    border: 2px solid var(--gray);
    border-radius: 1rem;

    width: 20rem;
    height: 22.9rem;

    animation: spawn .7s ease-in-out;

    &.inactive {
        background-color: var(--gray);
        animation: none;
    }

    &:not(:last-child) {
        margin-right: 1.5rem;
    }

    &:hover img {
        transform: scale(1.2);
        transition: all .2s ease-in-out;
    }

    .model__image {
        margin: 2rem 0;
        width: 15rem;
        height: auto;

        img {
            height: 100%;
            width: 100%;
            transition: all .2s ease-in-out;
        }
    }

    .model__title {
        font-size: 1.8rem;
        line-height: 1.8rem;
        margin-bottom: .5rem;
    }

    .model__price {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;

        span {
            color: var(--green);
        }
    }

    @keyframes spawn {
        0%{
            // transform: translate(80rem, -22.9rem);
            // transform: translateX(80rem);
            // transform: translateY(-22.9rem);
            transform: scale(.9);
        } 
        100% {
            // transform: translate(0,0);
            // transform: translateX(0rem);
            // transform: translateY(0rem);
            transform: scale(1);
        }
    }
}