.model__card {
    cursor: pointer;
    padding: 1rem 2rem;
    border: 2px solid var(--gray);
    border-radius: 1rem;

    width: 20rem;
    height: 22.9rem;

    &.inactive {
        background-color: var(--gray);
        animation: none;
    }

    &:not(:last-child) {
        margin-right: 1.5rem;
    }

    &:hover img {
        transform: scale(1.2);
        transition: all .2s ease-in-out;
    }

    .model__image {
        position: relative;
        margin: 2rem 0;
        width: 15rem;
        height: 7.5rem;

        img {
            z-index: 1;
            height: 100%;
            width: 100%;
            transition: all .2s ease-in-out;
        }
    }

    .model__title {
        font-size: 1.8rem;
        line-height: 1.8rem;
        margin-bottom: .5rem;
    }

    .model__price {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;

        span {
            color: var(--green);
        }
    }
}