.driver_details {
    flex: 0 0 50rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .main_title {
        font-size: 2.2rem;
        font-weight: 400;
        letter-spacing: .1rem;
        margin-bottom: 3rem;
    }

    .name {
        display: flex;
        width: 100%;

        .label_container {
            flex: 1 0;
        }

        .label_container:not(:last-child) {
            margin-right: 2rem;
        }
    }

    // .label {
    //     font-size: 1.2rem;
    //     line-height: 1.4rem;
    //     display: flex;
    //     flex-direction: column;
    //     margin-bottom: 3rem;

    //     span {
    //         margin-bottom: 1rem;
    //     }

    //     .input {
    //         border: none;
    //         border-radius: 0;
    //         border-bottom: .1rem solid var(--dark_gray);
    //         outline: none;
    //         height: 2rem;
    //         padding: 0 .1rem;

    //         &:focus {
    //             border-bottom: .1rem solid var(--green);
    //         }

    //     }
    // }

    .cancelation {
        margin-bottom: 2.5rem;
        font-size: 1.4rem;
        line-height: 1.6rem;
        color: var(--green);
        text-align: center;
    }
}